.actions{
    opacity: 0;
}

tr:hover .actions {
    opacity: 1;
}

// .actions a:hover {
//     color: #222 !important;
// }


// @media (max-width: 360px) {
//     .container{
//         padding: 0;
//         overflow-x: hidden;
//     }
// }

.contactTable {
    td{
        padding: 15px;
        // margin: 0px;
    }
}